.place-image {
    height: 210px;
    width: 300px;
}

.place-name {
    font-family: 'Roboto';
    color: rgb(60, 30, 210);
    font-weight: bold;
    font-size: 17px;
}

.image-container {
    list-style-type: none;
    margin: 10px;
}

.place-subject {
    font-family: 'Roboto';
    color: #252627;
    align-items: center;
}

.place-date {
    font-family: 'Roboto';
    color: #252627;
    align-items: center;
}